{
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
      {
        "files": "*.{json,yml}",
        "options": {
          "tabWidth": 2,
          "singleQuote": false
        }
      }
    ]
  }
  